@model IEnumerable<NatechProject.Models.Salesman>

@{
    ViewData["Title"] = "Salesmen";
}

<h1>Salesmen</h1>

<p>
    <a asp-action="Create" class="customButton">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Commision</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Commission) €
                </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.SalesmanId" class="customButton">Edit</a> 
                    <a asp-action="Details" asp-route-id="@item.SalesmanId" class="customButton">Details</a> 
                    <a asp-action="Delete" asp-route-id="@item.SalesmanId" class="customButton"> Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
